/*--------------------------------------------------------------
# CSS Stylesheet
# Author: Nic McClellan
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# General Styling
--------------------------------------------------------------*/
/* Variables */
:root {
    --font-family: "Open Sans", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
} /* Variables end */

html { 
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

p {
    text-indent: 3rem;
    text-align: justify;
}

body {
    font-size: 1.0rem;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: #272829
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**
* Section class to give each a uniform look. 
*/
.section {
    margin-left: 8.125rem; /* Same width as the sidebar + left position in px */
    margin-right: 8.125rem;
    padding: 0 0.625rem;
}
/*--------------------------------------------------------------
# Sidebar Navigator
--------------------------------------------------------------*/
.side-nav a {
    z-index: 1;
    position: fixed;
    left: 0;
    transition: var(--transition);
    padding: 1.0rem;
    width: 6.25rem;
    text-decoration: none;
    font-size: 0.75rem;
    color: #fff;
    border-radius: 0 0.375rem 0.375rem 0;
}

.side-nav a:hover {
    width: 7.75rem; 
}

.menu-home {
    background-color: #04AA6D;
    bottom: 60%;
}

.menu-about {
    background-color: #2196F3;
    bottom: 52.5%;
}

.menu-projects {
    background-color: #f44336;
    bottom: 45%;
}

.menu-contact {
    background-color: #555;
    bottom: 37.5%;
}
/*--------------------------------------------------------------
# Hero Section (Picture, Name, & Links)
--------------------------------------------------------------*/
.hero-image {
    /* Sizing */ 
    height: 100vh;
    /* Flexbox */ 
    display: flex;
    /* Item alignment */ 
    justify-content: center;
    align-items: center;
    /* Background Image */ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../docs/assets/images/home-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero-text {
    /* Positioning & Alignment */ 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Font Styling */ 
    color: white;
}

.hero-text span::before {
    content: "software engineer";
    animation: animate infinite 10s;
}

@keyframes animate {
    0% {
        content: "software engineer"
    }
    20% {
        content: "developer"
    }
    40% {
        content: "collaborator"
    }
    60% {
        content: "innovator"
    }
    80% {
        content: "designer"
    }
    
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.headshot p {
    padding: 0.5rem;
}

.extra-info p {
    padding: 0.5rem;
}

.headshot img {
    /* Headshot Photo Styling */ 
    max-width: 100%;
    width: 37.5rem;
    height: auto;
    margin: 1.5rem;
    margin-top: 0.5rem;
    float: left;
}

.extra-info img {
    /* Accessory Photo Styling */ 
    max-width: 100%;
    width: 37.5rem;
    height: auto;
    float: right;
    margin: 1.5rem;
    margin-top: 0.5rem;
}
/*--------------------------------------------------------------
# Skills + Projects Section (Portfolio)
--------------------------------------------------------------*/
/**
* Skills & Skill Cards
*/
.skills {
    max-width: max-content;
    margin: auto;
    text-align: center;
    margin-top: 1.75rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    padding: 0.625rem;
    background-color: #fff;
    border-radius: 0.313rem;
    margin: 0.625rem;
    box-shadow: 0 0.188rem 0.5rem var(--primary-shadow);
}
/**
* Projects & Project Showcase
*/
.project-pic {
    /* Force Image Max Size */ 
    width: 100%;
    height: 100%;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card {
    display: inline-block;
    width: 33%;
    height: auto;
    padding: 0.625rem;
    background-color: #fff;
    border-radius: 0.313rem;
    margin: 0.625rem;
    box-shadow: 0 0.188rem 0.5rem var(--primary-shadow);
}

.project-details {
    text-indent: 0;
}

.project-title {
    text-align: center;
}

.project-link {
    text-align: center;
}
/*--------------------------------------------------------------
# Contact Section (formspring.io API)
--------------------------------------------------------------*/
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-half {
    display: inline-block;
    /* Each half of the section can take up ~45% of the page width */
    width: 45%;
    height: 100%;
    padding: 1.0rem;
}

.contact-description {
    margin: 1.5rem;
}

.contact-img {
    width: 100%;
    height: 100%;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.375rem;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/*--------------------------------------------------------------
# Scroll to Top Button
--------------------------------------------------------------*/
.back-to-top {
    /* Force the button to the bottom right of the page */
    z-index: 999;
    position: fixed;
    right: 1%;
    bottom: 1%;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}
/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.footer {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 6.0rem;
    background-color: var(--bg-color);
    margin-top: 8rem;
    text-align: center;
}